

@model SlotMachine.Models.SlotMachineModel



<div class="col-sm-8">

    <div>
        <p>Win Amount &nbsp; : &nbsp;<span>@Model.WinAmount</span></p>
        <p>Balance &nbsp; &nbsp; &nbsp; &nbsp; :  &nbsp;<span id="rembal">@Model.PlayerBalance</span></p>

        <p>Bet Amount &nbsp; :  &nbsp;<span>@Model.BetAmount</span></p>
        <p>Outcome &nbsp; &nbsp; &nbsp; :  &nbsp; <span>@Model.SpinResult</span></p>
    </div>

</div>
